* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
    text-shadow:-5px -5px 0 #000;
}

.bg {
    background-size: cover;
    background-color: rgb(0, 0, 124); /* fallback if image fails */
}

.black-bg {
    background-image: none !important;
    background-color: black !important;
}

marquee {
    height:100vh;
}

.center {
    display:flex;
    justify-content:center;
}

.title {
    display:flex;
    justify-content:center;
    background-color:black;
}

.hover-img {
    width: 200px;
    height:auto;
}

/* grow + swap image on hover */
.hover-img:hover {
    width: 300px;
    content:url("../cat.png");
}
