.title
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    
}
body
{

    background-image: url("../textures/classroom.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    overflow: hidden;

}
