body {
    background-color: rgb(246, 205, 156);
    color : rgb(0, 0, 0) ;
    overflow: hidden;
    size : 100vh ;
}
.sassy {
    font-weight: bold ;
 }


.cookieCounter {
    background-color: rgb(99, 78, 56);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size : 3vh ;
}

.center {
    text-align: center;
}

.center_number_cookies {
    text-align: center;
    padding-top : 3vh;
    font-size : 4vh;
}
.cookieCounter:hover {
    background: linear-gradient(
        45deg,
        red,
        #ff2000,
        #ff4000,
        orange,
        #ff9a00,
        #ffbf00,
        yellow,
        #d4ff00,
        #aaff00,
        lime,
        #55ff00,
        #00ff55,
        #00ff88,
        #00ffaa,
        #00ccff,
        #0099ff,
        #0066ff,
        #3300ff,
        #6600ff,
        #9900ff,
        #cc00ff,
        #ff00ff,
        #ff0099,
        #ff0066,
        red,
        #ff2000,
        #ff4000,
        orange,
        #ff9a00,
        #ffbf00,
        yellow,
        #d4ff00,
        #aaff00,
        lime,
        #55ff00
    );
    background-size: 400%;
    animation: rainbow 0.75s linear infinite;
}

@keyframes rainbow {
    0% { background-position: 0%; }
    100% { background-position: 100%; }
}

#cookieCounter:hover {
    background-color: gray;
}

.step {
    font-style: italic ;
    font-weight : bold ;
    font-size : 4vh;
}

.screen {
    display: flex ;
    size : 100vh ;
}
.left_part {
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    height : 100vh ;
    padding-left : 5vh;
    padding-right : 5vh;
}

.part1 {
    order : 1;
    font-size : 3vh;
}

.part2 {
    order: 2;
    font-size : 3vh;
}

.middle_part {
    height : 100vh;
    width : 15vh;
    background-color: rgb(99, 78, 56);
    padding-top : -10;


}
.right_part {
    padding-left: 12vh;
    padding-top : 7vh;
}

.text_inside_reci_pee {
    font-size : 3vh;


}

.part1_2 {
    font-size : 3vh ;


}

.Recipee_scroll {
    width : 100vh;
    height : 65vh;
    overflow: auto; /* enables scroll when needed */
    padding: 10px;
}
.Recipee_scroll::-webkit-scrollbar {
    width: 8px;
}

.Recipee_scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 4px;
}

.Recipee_scroll::-webkit-scrollbar-track {
    background: transparent;
}